/*.menu-bar {
    -fx-alignment: center;
}*/

AnchorPane, PaneRecord, PaneOrder {
    -fx-border-color: #5f5f5f;
}

.image-cancel {
    -fx-image: url("../images/icons/icon_order_cancel_unfill.png");
}
.image-cancel:hover {
    -fx-image: url("../images/icons/icon_order_cancel_fill.png");
}